<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C{1}: %msg%n"/>
        </Console>
        <RollingFile name="File"
                     fileName="data/logs/debug.log"
                     filePattern="data/logs/log_%d{yyyy-MM-dd}.log"
                     append="true">
            <PatternLayout pattern="%d{yyyy.MM.dd HH.mm.ss} %5p\t%c:%L - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="ru.sfedu.pcadvisor.PCAdvisorClient"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>